[2015-05-21 18:24] mingodad opened #1 "Nice project I hope I can colaborate with it"
Hello !

I just found and started playing with this project through npm and also saw the videos at http://umyproto.com/ and found this empty repository here.

It seems that you plan to opensource it and be able to get feedback/help with it.

So far I saw it very interesting mainly by the possibility of create/reuse components.

Cheers !

[2015-05-22 12:17] Nek opened #2 "Project has broken components-index.js file"
I cloned material-ui project and then got this:
[code]

[2015-05-22 12:19] Nek commented on #2
Same thing happens with react-bootstrap project.

[2015-05-22 12:23] ipselon commented on #2
please go to local folder where you cloned project, find component-index.js file, and post its content here.

[2015-05-22 12:24] Nek commented on #2
[code]

[2015-05-22 12:24] Nek commented on #2
And here is the one for react-bootstrap:
[code]

[2015-05-22 12:26] ipselon commented on #1
Hi, thank you.

I didn't figured out how to provide contribution to this project from others so far. But your feedback is welcome, fell free to write me directly.

[2015-05-22 12:27] Nek commented on #2
And here is the one for react-bootstrap:
[code]

[2015-05-22 12:28] ipselon commented on #2
I got it. There is a problem with old versions of node.js in fs library.

Please update node.js to the current version.

[2015-05-22 12:29] Nek commented on #2
Thanks! I'll give it a try.

[2015-05-22 12:49] Nek commented on #2
It works! The only problem I've encountered I had to use absolute path to a project. It looked like relative path was ok but in the end it gave me an error.

Using something like '/first_project' works as expected.

[2015-05-22 12:50] ipselon commented on #2
Good!

[2015-05-23 15:03] winkler1 opened #4 "Demo?"
Thinking of adding to react.rocks -- what's the best place to play with it? (ideally without login/account)

[2015-05-23 19:14] ipselon commented on #4
This is a visual tool for creating reusable React components for your application... and it works only on localhost

[2015-05-24 12:01] #2 closed

[2015-06-10 12:02] dpastoor opened #5 "ENOENT error on windows trying to open local project folder"
[code]

Also, not sure if the folder icon is supposed to be clickable
![image](https://cloud.githubusercontent.com/assets/3196313/8081906/ef024fc8-0f46-11e5-975d-2e93572217bf.png)

however doesn't do anything when I click on it (would expect it to open a explorer window to choose a folder).

[2015-06-11 07:15] ipselon commented on #5
Try to install the last version of node.js

As for folder icon - this is more for "good looking" purposes, but further I think we will add file browser, and it is not in high priorty so far...

[2015-06-13 09:10] bachirelkhoury opened #6 ""Project has broken components-index.js file""
Interesting project. Eager to try it out but I'm getting this error for whatever template project I use "Start with react-bootstrap" or "Start with Material UI"

![screen shot 2015-06-13 at 7 06 11 pm](https://cloud.githubusercontent.com/assets/186698/8143758/889da28a-11ff-11e5-93ba-d465864f87cb.png)

[2015-06-14 01:13] bachirelkhoury commented on #6
Upgraded npm, cleaned cache and reinstalled and problem is gone.
thanks

[2015-06-14 01:13] #6 closed

[2015-06-16 06:24] amftri opened #7 "ENOENT on Linux"
Hi, I get

`{"errno":34,"code":"ENOENT","path":"/tmp/.builder"}`

When trying to open _any_ path, even 0777 ones line /tmp. Running the latest npm install of react-ui-builder, Ubuntu 15.04, node 0.10.38.

[2015-06-16 06:37] ipselon commented on #7
Try install the latest node.js

[2015-06-16 06:41] ipselon commented on #5
@dpastoor does my comment help ?

[2015-06-16 06:46] amftri commented on #7
That fixed it. :) Thanks for the ultra-fast reply!

[2015-06-16 06:46] #7 closed

[2015-06-16 15:22] dpastoor commented on #5
Hi @ipselon I haven't tried yet, but I'm running 0.12.3 so unless between 0.12.3 --> 0.12.4 something major changed I don't think that would be the cause. I can try on 0.12.4 if you think that could be it - else any other ideas?

[2015-06-16 18:26] ipselon commented on #5
There were already multiple cases similar to yours, so I can say this is the only cause of the problem.

[2015-06-17 00:44] dpastoor commented on #5
gotcha I will update and cross my fingers and see if it works

[2015-06-17 21:42] timsim00 opened #8 ".builder/src/PageForDesk.js Line 49: Unexpected token <"
Worked through some issues to get cloning to work.  But now getting this error in terminal.  The builder loads with builder menus and buttons on the outer edges of the project work area, but the project work area itself is blank.  This is the bootstrap project that I cloned.  PageForDesk.js is 4 bytes long with only the word "null" in the file.  The error is on line 46 of react-ui-builder/template

[2015-06-18 06:22] ipselon commented on #8
Could you please provide here a console output after project is loaded ?

[2015-06-18 07:01] #1 closed

[2015-06-18 07:08] ipselon commented on #8
BTW, this happens when you have a component tag on the page which is not a React component (this can happen when you delete manually component reference from component-index.js file but left its tag on a page). So, I advise you to create a new page and delete others.

[2015-06-18 07:10] #4 closed

[2015-06-18 13:31] timsim00 commented on #8
This is the UI console when project is loaded:

CollapsableNav is deprecated. Use CollapsibleNav instead.
builder-bundle.js:31 You can read more about it here https://github.com/react-bootstrap/react-bootstrap/issues/425#issuecomment-97110963

I was thinking maybe the issue is related to this: http://stackoverflow.com/questions/28100644/reactjs-uncaught-syntaxerror-unexpected-token

Adding a page

[2015-06-18 13:35] ipselon commented on #8
Did you create any new components after project cloning ? Or you had this error right after project cloned and compiled ?

[2015-06-18 13:39] timsim00 commented on #8
This is error showed up immediately after cloning and loading the project.  I'm not able to create new components or anything.  The work area is inoperable.

[2015-06-18 13:43] ipselon commented on #8
In that case I can suggest that you already have webpack installed with jsx loader. So, it might be helpful if you update webpack (maybe globally) and jsx loader.
In future version builder will use babel instead of jsx-loader...

[2015-06-18 13:51] timsim00 commented on #8
I installed webpack and jsx-loader globally, cleared cache, deleted projected, re-cloned...still getting same issue.

[2015-06-18 13:56] ipselon commented on #8
Could you try to uninstall webpack and loader ? and then open the project...

[2015-06-18 13:57] timsim00 commented on #8
Uninstall globally or from within react-ui-builder?

[2015-06-18 13:58] ipselon commented on #8
globally, not from builder

[2015-06-18 14:00] timsim00 commented on #8
Uninstall globally and reloaded project. Same issue.

[2015-06-18 14:05] timsim00 commented on #8
For some reason jsx doesn't know it's supposed to transform _page_js.tpl.  The error is hitting on the first line that needs to be transformed:

(<h4 style={{textAlign: 'center'}}>There are runtime errors during rendering of the page. Please see console output. React doesn't handle runtime errors.</h4>);

[2015-06-18 14:07] ipselon commented on #8
_page_js.tpl - is just a template, it shoudn't be processed by webpack.

I need to emulate your environment. Please provide OS and node.js version.

[2015-06-18 14:10] timsim00 commented on #8
Had to update to latest version of node: 0.12.4  OSX is 10.9.5

[2015-06-18 14:16] timsim00 commented on #8
Right, I'm not saying that webpack is processing the template per se, just that the code in the template isn't being processed wherever it's pulled in.

[2015-06-21 20:22] ipselon commented on #8
Hi @timsim00
I found the problem, there is an issue with the latest [esformatter](https://www.npmjs.com/package/esformatter) version.
Please reinstall (unistall & install) react-ui-builder.

Additionally there is new feature: breadcrumbs in toolbar to select component quickly without switching hierarchy view.

Enjoy.

[2015-06-21 21:36] timsim00 commented on #8
Success!  Thank you.

[2015-06-21 21:58] #8 closed

[2015-06-22 18:19] ipselon commented on #5
@dpastoor did you manage to open project ?

[2015-06-23 14:49] #5 closed

[2015-06-24 17:56] tnrich commented on #6
I'm also getting this problem but don't want to upgrade node/npm..

Any thoughts?

[2015-07-07 11:02] ganarajpr opened #9 "Cloned projects dont display ?"
Hi,

So I tried react-ui-builder by cloning this project and it doesnt seem to be working properly. Am I missing anything here ?

Also I noticed that this codebase has package version 0.2.4 while the one in npm has 0.2.6 ? So is this outdated ?

[2015-07-07 11:31] ipselon commented on #9
Hi,

Builder is compiled and assembled into __build__ folder. Find there react-ui-builder.js file and run it in node.js

[2015-07-07 11:50] ganarajpr commented on #9
That is how I did it. The builder loads up perfectly fine. But when you provide the folder and clone bootstrap or material design project into it, the npm install happens perfectly fine. But the editor doesnt show the page ( with the buttons and all other components ) .. If I load up the same folder in react-ui-builder that is loaded from the 'npm install react-ui-builder -g ' version I can see th

[2015-07-07 12:14] ipselon commented on #9
This is not outdated.
But the reason of the error you have is in esformatter and esformatter-jsx versions.

Please double check that you have in npm_modules folder (which is in build folder) proper versions:
    "esformatter": "0.6.1",
    "esformatter-jsx": "1.0.8"

in the next release packages will be updated, but now you have to use these ones.

[2015-07-07 12:20] ganarajpr commented on #9
Hi,

Yeah. You are right. I had
[code]
and changing that to
[code]
solved the problem for me.  Thanks for getting on top of this soo fast :)

[2015-07-07 12:20] #9 closed

[2015-07-12 05:40] datapimp opened #10 "suggest using electron framework"
at https://architects.io we have been experimenting with this type of tool as well.

i have a prototype of an app that is based on the electron framework, which powers apps like slack, visual studio, and github's atom editor.

it powers up a webpack development server, and has a general app framework based on atom which lets you live edit a react app in code.  you can download the app, and you don

[2015-07-12 06:10] jeromeetienne opened #11 "host a demo"
to publish an online demo would help people trying it.

something which doesnt require local install before trying.

just suggesting

[2015-07-12 06:57] atleastimtrying commented on #11
+1

[2015-07-12 07:19] mr-lanholmes opened #12 "{"errno":-4058,"code":"ENOENT","path":"C:\\wamp\\www\\test-react"}"
{"errno":-4058,"code":"ENOENT","path":"C:\\wamp\\www\\test-react"}

[2015-07-12 07:26] mr-lanholmes commented on #12
For anyone that encounter this problem when cloning a project. You should create an empty dir first and use it.

[2015-07-12 07:26] #12 closed

[2015-07-12 08:51] x711Li opened #13 "Cannot set property 'onComponentDidUpdate' of undefined : builderbundle:55"
Hey guys,

Started the project up with a react-bootstrap template. On load, none of the UI functionality works because of the following error:

Cannot set property 'onComponentDidUpdate' of undefined

[2015-07-12 09:28] peterps-health commented on #11
+1

[2015-07-12 10:40] LFDM opened #15 "Abstraction for code templates"
This project has an absurd amount of potential...

What would keep me from using it so far is not having a clear cut way of applying my own code style to it - the way Components are written, also Stores and Actions of course.

Maybe this can even be done inside of react-ui-builder, e.g. generating code templates with some kind of guidance which variables can be used and so on.

[2015-07-12 10:49] ipselon commented on #11
OK, I will find the way how to cut features of builder to be online and not to use server side.

[2015-07-12 10:52] ipselon commented on #13
Sorry, couldn't understand such a behaviour. Could you tell what node version you are using, and your OS version ?

[2015-07-12 10:55] ipselon commented on #15
Well, now I preliminary added "wizards" approach to generation of the source code. So, it may be used to variate code structure.

[2015-07-12 12:24] x711Li commented on #13
Node version 0.12.7
Mac OS X 10.9.5

Thanks

[2015-07-12 15:48] Xelom commented on #10
:+1:  for electron. I want to collaborate on something like that too.

[2015-07-12 23:58] FoxxMD commented on #11
@ipselon You could use github pages as your host if you're worried about cost.

[2015-07-13 03:57] jeromeetienne commented on #11
if server is in node.js, you can host it on nodejitsu for free (as your project is opensource)

just another possibility

[2015-07-13 11:40] ipselon commented on #11
Well, the matter of cost is important too, but first of all there is some coupling with file generation - so, firstly I need to cut some functionality to make it work without file system accessing.

[2015-07-13 11:57] sinceow commented on #13
I got the same error on Mac OS X 10.11 with Node v0.12.4 =_=

[2015-07-13 12:01] shaunandrews commented on #11
At the very least a short video demo would go a long way.

[2015-07-13 13:30] keithmancuso commented on #11
Agreed, even a video would be helpful for now, hard to justify downloading and installing without really knowing what it does?

[2015-07-13 15:40] arianvp opened #16 "react-bootstrap and Material UI templates don't work on Chromium"
I'm running Chromium 43.0.2357.132.  When I copy one of the templates the UI is uresponsive.  Non of the buttons work.

If I for example try to delete a component nothing happens and when I press the button again I get the following error in the console:
`Component with id 40 was not found`

[2015-07-13 18:12] ipselon commented on #13
Also please tell what browser you are using.

[2015-07-13 18:38] ipselon commented on #16
I tested builder just now on Chromium 46.0.2455.0, Mac OS X 10.10.4, node 0.12.7
It works as expected.

Please double check instruction to start working:
1. Install last version of node js
2. Install last version of builder as global
3. Start builder and go to address in the browser
4. Create an empty folder in which your account in OS can write
5. Clone project into this folder specifying absolut

[2015-07-13 19:23] stefanlegg commented on #16
I'm experiencing the same problem as @arianvp using the following:
* Chromium 43.0.2357.132
* Node 0.12.7
* OS X 10.11
* React UI Builder 2.11.3

[2015-07-13 19:27] ipselon commented on #16
Could you try to use Chromium 46.0.2455.0 ? Is this OS in beta ?
BTW, react-ui-builder has only 0.2.7

[2015-07-13 20:08] stefanlegg commented on #16
My apologies, copied over the wrong line! I'm using 0.2.7
I don't see a Chromium release for 46.x & on their calendar it looks like 46.x isn't set to release until August. Do you have a link?

[2015-07-13 20:12] ipselon commented on #16
http://chromium.woolyss.com/download/#mac

[2015-07-13 20:13] stefanlegg commented on #16
Thanks!
One moment, I'll give it a try.

[2015-07-13 20:26] stefanlegg commented on #16
Sorry, the UI is still unresponsive for me using 46.0.2455.0

[2015-07-13 20:27] ipselon commented on #16
Do you have a chance to try builder on another OS X version - not beta ?

[2015-07-13 20:30] stefanlegg commented on #16
Sure, no problem! I'll try on 10.10.4 now.

[2015-07-13 20:30] ipselon commented on #16
Also take a look at Chromium console output if there is something...

[2015-07-13 20:38] stefanlegg commented on #16
On the OS X 10.11 box the only error I see is:
`Uncaught TypeError: Cannot set property 'onComponentDidUpdate' of undefined (builder-bundle.js:55)`
Other than that there are just a few warnings.

Trying on 10.10.4 now.

[2015-07-13 20:48] stefanlegg commented on #16
Same thing on OS X 10.10.4

[2015-07-13 20:55] stefanlegg commented on #16
Guess this is the same issue as #13

[2015-07-13 21:00] ipselon commented on #16
OK. Now I'm run out of ideas. I will try to localize the problem in the next release (very soon)  - if it still be present I'll be investigating further. So, now wait the next release.
Thank you for answers.

[2015-07-13 23:21] x711Li commented on #13
I'm on Google Chrome v43.0

[2015-07-14 01:22] sinceow commented on #13
I'm on Google Chrome  42.0.2311.90 (64-bit)

[2015-07-14 05:59] luisrudge opened #17 "Module not found: Error: Cannot resolve module '.builder\\src\\PageForDesk.js"
[code]

![image](https://cloud.githubusercontent.com/assets/941075/8667313/44be1396-29d4-11e5-9c3e-269ab74995f6.png)

[2015-07-14 07:00] ipselon commented on #17
Please tell what project did you clone, and node version you are using.

[2015-07-14 07:24] pleunv commented on #11
There's a video available here: https://www.youtube.com/watch?v=5nqOFSjXKPI

[2015-07-14 14:45] luisrudge commented on #17
I tried both bootstrap and material projects.

[code]

[2015-07-14 22:20] ipselon commented on #16
Please update the builder and see if your problem is gone. If not - will investigate further.

[2015-07-14 22:44] ganarajpr opened #18 "Forgot to check in slider folder"
Getting the following error.

[code]

[2015-07-14 22:47] ipselon commented on #18
Pushed missing files. Try to build again.

[2015-07-14 22:49] ganarajpr commented on #18
Works now. ty.

[2015-07-14 22:49] #18 closed

[2015-07-14 23:24] boossyad commented on #12
My divide no root

[2015-07-15 01:49] jjk3 opened #19 ""Project has broken components-index.js file" "Object #<Object> has no method 'isAbsolute'""
I tried to clone the rgb selector project

"Project has broken components-index.js file"
"Object #<Object> has no method 'isAbsolute'"

[2015-07-15 07:06] ipselon commented on #19
There is a problem with old versions of node.js in fs library.

Please update node.js to the current version.

[2015-07-15 08:25] mmeyer commented on #17
Had the same error message when I wanted to open in react-ui-builder a cloned published project. Problem did get resolved when I provided in the "Local project directory path" field the absolute path to the cloned project and not just a relative path, which caused the mentioned "Module not found: Error: Cannot resolve module '.builder\\src\\PageForDesk.js" error message. Maybe a hint in the descri

[2015-07-15 08:34] ipselon commented on #17
Thank you a lot. I missed fixing details of Usage chapter in Readme on GitHub.
Now I fixed it.

[2015-07-15 15:46] jjk3 commented on #19
thanks will give that a go.

[2015-07-15 15:46] #19 closed

[2015-07-15 16:07] arianvp commented on #16
I've updated builder and updated chromium (to 43.0.2357.132) but still
[code]

[2015-07-15 16:34] holyxiaoxin opened #20 "Error while cloning project from react-bootstrap"
"Project has broken components-index.js file"
"Object #<Object> has no method 'isAbsolute'"

[2015-07-15 16:42] jjk3 commented on #20
See #19 , update node.js FS

[2015-07-16 10:14] nibon commented on #13
I had but fixed this problem on ubuntu linux, node 0.12.7, npm 2.13.0 and various browser versions. When I tried to preview the gallery bootstrap project I got a EACCESS error on directory "/usr/local/lib/node_modules/". For some reason the node_modules npm and react-ui-builder hade owner nobody. Setting correct owner <code>sudo chown -R <username> /usr/local/lib/react-ui-builder</code> allowing m

[2015-07-16 10:19] ipselon commented on #13
Thank you!

[2015-07-16 12:23] #20 closed

[2015-07-17 14:49] mhnatiuk opened #21 "support for using proxy servers in builder"
I'm behind a corporate proxy, builder has no connection to the internet despite the fact that my browser has proper proxy settings.

[2015-07-17 15:10] ipselon commented on #21
Builder is an http server which is listening to port 2222 and which makes connections to the interner. But, what kind of connection did you mean: connection to the gallery or through the proxy inside of the builder ?

[2015-07-17 23:40] rm3nchaca commented on #6
which version of node/npm are you using? I have same problem on node v0.12.7 npm 2.11.3

[2015-07-18 03:50] bachirelkhoury commented on #6
Mine still works with
- react-ui-builder 0.2.5
- node 0.12.4
- npm 2.10.1
if I upgrade to latest it will probably break again.

[2015-07-18 08:09] reggi opened #23 "Page Components?"
I created 3 pages and I'm digging around my source code trying to find them. Do I have to create them myself, or are they generated? I would think that I would make a page and as I'm making it it's stored somewhere in a `/pages` or `/components` directory, but I can't seem to find them.

[2015-07-18 08:10] reggi commented on #23
I feel like there needs to be some kind of "export" button.

[2015-07-18 08:11] ganarajpr commented on #23
If you go into the folder you initially provided to ui builder - you should see a model.json. That has the whole structure of the app(including the pages. )

[2015-07-18 10:19] ipselon commented on #23
@reggi pages are considered as just a place where you combine components and then, if you satisfy of a composition, you can generate the source code of new component. But I have an idea to implement feature of generating static content of all pages for deploying on site.

[2015-07-18 15:45] reggi commented on #23
I think that the structure of pages in the top dropdown and components on the sidebar is confusing. I'd rather see the first "component" in the list on the sidebar be "Pages" components that are always editable.

[2015-07-18 15:46] reggi commented on #23
Once I saved down a page as a component I wanted to duplicate it for another page and I couldn't because it was set as a component.

[2015-07-18 15:48] reggi commented on #23
And like you said @ipselon pages are a place where you combine components. You should always be able to do this, saving it down to one tag that you can't edit again is limiting.

[2015-07-18 16:01] reggi commented on #23
Or just allow pages to be exported as components in realtime. That's pretty much all I want.

[2015-07-18 16:06] ipselon commented on #23
You are free to create 'Page' component in project, and this component can accept children (just place in side of 'render' method {this.props.children}. Paste 'Page' onto page and use it as basic page component: place all components you want inside of 'Page' - and generate another component... BTW, you can upload project in gallery as boilerplate of your future projects.

[2015-07-18 16:13] ipselon commented on #6
@bachirelkhoury you are missing bug fixes and quick style editing panel :-)

[2015-07-18 21:16] AlexIzydorczyk opened #24 ""Internal Server Error: error" -"
Hi

I just installed react-ui-builder with:

[code]

And am getting:
[code]
on http://127.0.0.1:2222/builder/

It appears to have installed correctly though. Any ideas how to debug or what might be wrong?

Install logs:
[code]

Thanks,
Alex

--EDIT--

It appears that accessing react-ui-builder from:

http://127.0.0.1:2222/builder/ throws this error

but accessing it from

http://localhost:2222/bui

[2015-07-18 22:03] ipselon commented on #24
Did you start builder with sudo ?

[2015-07-18 22:18] ipselon commented on #21
Did you solve your issue ?

[2015-07-18 22:19] #17 closed

[2015-07-18 23:45] ipselon commented on #24
I fixed this issue. Now you can get access to builder which is started remotely. But remember that builder works with project in local folder - on the host where it was started.

[2015-07-20 05:52] luqin opened #25 "Online demo ?"

[2015-07-20 05:58] ipselon commented on #25
Thanks, I investigate how to do this, also please see #11

[2015-07-20 06:12] luqin commented on #25
:+1:

[2015-07-20 08:29] ganarajpr opened #26 "Create components option should have configurable options"
Right now you can combine a bunch of components together and export them out as a single component. This works great if the combined component does not require a parameter.

Consider an example where you have a paper element and inside you have an image. You set some src value for the image - and you wish to expose this whole setup as a CardImage component. Currently I dont see how we can expose t

[2015-07-20 08:43] ipselon commented on #26
I like the idea, I'll consider include this into one of the forthcoming releases, but not the nearest one. Yes, I have some road map of the builder, but taking in account I'm fulltime developer on other project I can't devote much time to the builder.

[2015-07-20 08:44] #24 closed

[2015-07-20 09:43] mhnatiuk commented on #21
Hey,
I haven't. I can only test it using my corporate proxy, which I'm able to test today.

below is the screen shot of the error
![image](https://cloud.githubusercontent.com/assets/2299492/8773421/79dd5208-2ed4-11e5-9914-adfcb5e8f6d7.png)

[2015-07-20 10:51] ipselon commented on #21
OK, I think this is not an issue of the builder, but mostly of environment in your network.

[2015-07-20 10:51] #21 closed

[2015-07-20 13:50] mhnatiuk opened #27 "React-ui-builder internal server error"
When trying to clone the "Start with react-bootstrap"
On Chrome-43.0.2357.134 m on windows 7 enterprise
From chrome console:
Failed to load resource: net::ERR_EMPTY_RESPONSE
From web ui:
"Internal Server Error: error"

[2015-07-21 07:18] ipselon commented on #27
It seems you have some issues with network stuff. Check if server is running on 2222 port, or you have rigths to reach it, or event to start something on local host.

[2015-07-21 07:18] #13 closed

[2015-07-21 19:03] ipselon opened #29 "It will help in my development process if the builder has ..."
Please post here your thoughts about missing features in tool. What would you like to see and use in your development process combined with react-ui-builder ?

[2015-07-21 21:17] ipselon opened #30 "Not valid ast?"
![img_21072015_221734](https://cloud.githubusercontent.com/assets/11865795/8812804/f8adfc26-3006-11e5-82f8-28feadee35b2.png)

[2015-07-21 21:33] ipselon commented on #30
Update version up to 0.2.10

[2015-07-22 00:29] bastiao commented on #30
I tested in 0.2.10 and I still have the issue :( anyone else?

[2015-07-22 18:24] ipselon commented on #30
Fixed it. Apparently babel-core version 5.7.4 was with bug in windows environment.

[2015-07-22 18:24] #30 closed

[2015-07-22 18:25] ipselon commented on #30
Just update builder up to 0.2.11

[2015-07-22 20:46] #27 closed

[2015-07-22 20:47] ipselon commented on #16
Still does't work ?

[2015-07-23 19:55] bastiao opened #31 "Add new component button"
I tried to clone the following projects:
- Start with Material UI
- Start with react-bootstrap

Both rise the error that I paste here. The botton to add new components does not work and nothing really happens. Let me know if you need more details to reproduce it.

[code]

[2015-07-23 19:57] bastiao commented on #31
Maybe it is related with #16?

[2015-07-23 19:57] bastiao commented on #16
No, it does not work. I'm at chrome, with OS X 10.10.3 (14D131).

[2015-07-23 20:41] ipselon commented on #16
Please update to the last builder's version.

[2015-07-23 20:44] bastiao commented on #16
React UI Builder(0.2.11) is that, right? It does not work.

[2015-07-23 20:53] ipselon commented on #16
Yes, that's right. But I really couldn't reproduce this error, nor on OS X, neither on Windows. Something wrong with browser, I think.

[2015-07-23 22:48] ipselon commented on #11
Demo is available [here](http://umyproto.com/react-ui-builder/)

[2015-07-23 22:48] #11 closed

[2015-07-23 22:49] ipselon commented on #25
Demo is [here](http://umyproto.com/react-ui-builder/)

[2015-07-23 22:49] #25 closed

[2015-07-24 04:59] AlexIzydorczyk commented on #24
Apologies for the slow response - it does indeed work now. Thank you for fixing this.

[2015-07-25 05:31] luqin commented on #25
@ipselon :+1:

[2015-07-25 19:08] gedw99 opened #32 "data sources"
i was looking at the video of using this, and noticed you need to make changes for the data.
it seems that data is for now only partially integrated ?

[2015-07-25 19:39] ipselon commented on #32
Data in the tutorial video is just a JSON file, so, there is no integration with any database from the box.

[2015-07-27 15:39] thos37 opened #33 "Error: Cannot resolve module PageForDesk.js"
When I attempt to clone the bootstrap samples, I get the following error:

![screen shot 2015-07-27 at 8 35 13 am](https://cloud.githubusercontent.com/assets/621286/8910334/fafc19f8-343a-11e5-88b6-9b99a9359ec5.png)

[2015-07-27 15:54] ipselon commented on #33
Could you please clone ones again, or just reinstall the builder ? If this will not remove error, tell me.

[2015-07-28 17:03] DefiantBidet commented on #33
trying to get the material design samples; I get the same error.
removed node_modules and tried again... no go.
uninstalled/re-installed the builder.... no go.
[code]

[2015-07-28 17:27] ipselon commented on #33
Did you enter absolute path to folder where you cloned project ?

[2015-07-28 17:47] DefiantBidet commented on #33
the [path redacted] displayed the absolute system path to my directory i'm trying to put all this in, if that's what you're asking me.

i've done the following:
 - cloned existing project -> selected material design
 - entered absolute path/entered relative path from where the ui-builder is running (i.e. `./<path>`)

i get the following
relative path (error above)
absolute path ( working.)

ok so

[2015-07-28 17:49] ipselon commented on #33
You are welcome! :-)

[2015-07-28 17:50] ipselon commented on #33
@thos37 Could you try to use absolute path while cloning the project ?

[2015-07-28 17:54] DefiantBidet commented on #33
to be clear.... the path i used was literally `/Users/<userName>/<path/to/where/i/code/shite/>
and not `~/<path/to/where/i/code/shite/>` the former worked the latter did not (odd) ... in any event the screenie above seems to be a relative path to `test2` as opposed to (and i'm seriously guessing/paraphrasing here) `/Users/thos37/path_to_react-ui-builder_codebase`

[2015-07-28 19:09] thos37 commented on #33
Yes, global paths work.

[2015-07-28 19:09] #33 closed

[2015-07-29 01:38] phucpnt opened #35 "How to add Collapse component from react js into component-index.js"
Hello
Thx for great tools you guys have built.

I would like to use the [Collapse](http://react-bootstrap.github.io/components.html#utilities-collapse) component from react bootstrap.
How should I implement it?

Regards
Phuc

[2015-07-29 06:00] ipselon commented on #35
Hi, thank you.

I updated 'Start with react-bootstrap' project in the gallery. Please find 'CollapseButton' component in Enhanced group.

Regards

[2015-07-30 20:13] ipselon commented on #35
@phucpnt did you try CollapseButton component ? does it fit your needs ?

[2015-07-31 13:38] mehdi-cit commented on #29
Hello and thank you for this promising project.
I do miss the ability to manually write my "markup".
Let's consider the scenario below:
For instance one can chose a new element to add (let's say a form) then pick an existing element where to put this new form element. One can wrap the existing element with the new one, or put the new one after/before the existing element. But what if I want the ne

[2015-07-31 15:49] phucpnt commented on #35
@ipselon Nice
I has try the new CollapseButton, it fits my needs. I need to update it a bit btw.
I also understand more on how to add new component base on your updates.

Thanks very much
Regards

[2015-07-31 15:51] ipselon commented on #29
1) What if we have an ability to select multiple element, say holding Ctrl or Alt key, and then provide any manipulations with this group ?
2) In that case, when you have to put variables into props of the component, you need to generate source code for new component. Or I did't get what you mean ?

[2015-07-31 15:52] ipselon commented on #35
You are welcome.

[2015-07-31 15:52] #35 closed

[2015-07-31 17:12] mehdi-cit commented on #29
Thx for the quick reply.
1) That would do it for the specific scenario at hand. However, having the ability to manually edit the "markup" is way more flexible. For instance using codemirror. Check this as an example:
https://github.com/joelburget/react-live-editor
2) Not sure about this point. One would need to come up with a way that's generic enough.  Maybe the builder would output strings (as i

[2015-08-02 08:55] ipselon commented on #29
1) Actually, when you click on `</>` button you see the hierarchy of components in the page, but not markdown of the page. And key point of the hierarchy is just to show a precise model of the page. All manipulations with markdown should go through IDE editor or in the builder's option dialog of particular component. But I think how to make hierarchy editable using only existing components tags.

[2015-08-02 10:27] mehdi-cit commented on #29
Hello Ipselon.
That your choice to make. I'd personally would have loved an extra icon to shift into advanced/manual editing (a la codemirror).
In my eyes the gui builder is a tool to help quickly start your react project. Having the ability to manually edit it before moving to the ide would be a big time saver.

[2015-08-04 07:12] ipselon commented on #29
Hi, I think it's possible, just to give user to edit a page model as component tags tree. Thanks a lot.

[2015-08-04 10:42] mehdi-cit commented on #29
Hi,
Are you saying it should be implemented. In other words, the user should be allowed to manually edit the "markup"?
Cheers~

[2015-08-05 13:59] Hellblazer commented on #16
I'm having the same issue.  Up to date on os x, chrome and tried it out on the chromium link you indicated above.  Don't know if it helps, but here's the stack trace:

Uncaught TypeError: Cannot set property 'onComponentDidUpdate' of undefinedn.createClass.componentWillUnmount @ builder-bundle.js:56x.unmountComponent @ builder-bundle.js:46M.unmountComponent @ builder-bundle.js:29r.unmountChildren

[2015-08-05 14:17] ipselon commented on #16
Yeah, thanks, I pretty sure that this is the same issue as here #37

[2015-08-05 14:20] Hellblazer commented on #16
Ah, cool.  thanks!

[2015-08-13 11:17] kefirchik commented on #32
Will be nice to use https://github.com/meteor/meteor/ as a backend for builder.

[2015-08-13 11:45] ipselon commented on #32
Builder helps create new visual components, and doesn't limit developer to use any technology in his project. So, I don't really understand what backend should be used in builder ? Could you describe one case ?

[2015-08-13 12:22] kefirchik commented on #32
meteor provides great infrustructure to build any kind of apps and can be used as a server/database for builder instead express, request, socket (actually meteor has request, socket and much more)
but I know it is great work already done and it isn't easy to just fetch away client code from existing server code.

and I've tried to bundle buidler in to a meteor app with npm, and it starts well, but

[2015-08-13 13:20] ipselon commented on #32
Unfortunately, I'm not familiar with Meteor as I wish, but what advantages builder would have if it used Meteor instead express ?

[2015-08-13 13:33] kefirchik commented on #32
meteor introduces [Distributed Data Protocol](https://www.meteor.com/ddp) wich brings live data connection between client and server(officially mongodb as an embedded database) through websockets

I think it is possible to make some sort of live site editor this way

[2015-08-13 13:37] ipselon commented on #32
Well, that makes sense.

[2015-08-17 12:16] ganarajpr commented on #32
@kefirchik Can you explain a bit more of how meteor could help with the files ? If my understanding is right, react-ui-builder uses a project that it loads into an iframe. Now with meteor, are you suggesting that we could completely eliminate the need for these set of files ?

[2015-08-19 13:20] subsumo commented on #10
IMO, React is a superior framework since it will eventually merge with Web Components - and is miles ahead of Angular. Also, being platform Agnostic, it complements browser architecture very well.

I'm looking to collaborate here as well - talk soon!

[2015-08-19 13:26] subsumo opened #38 "Use the CSS Layout Template"
How can this be integrated:
http://www.w3.org/TR/css-template-3/?

The problem with bootstrap is its problem with vertical-alignment – which is why flexbox is supreme. But, have a look at the CSS Layout Module. I'd like to implement that.

[2015-08-20 19:09] ipselon commented on #38
Sorry for late response.
I'm pretty sure it can be integrated. But I don't know how so far. In order to do that I need time, but I'm totally busy with new features and site designing.
Soon new site will be where you can find an article about how to manually add components or any kind of resources.

[2015-08-20 19:10] subsumo commented on #38
Awesome.

If I can jump in anywhere, you just let me know. I'm looking to work on you wherever on any issue.

Cheers
Jacob

On 2015-08-20, at 3:09 PM, Alexander <notifications@github.com> wrote:

[2015-08-23 23:51] kefirchik commented on #32
@ganarajpr actually builder needs havy refactor to work smoothly with meteor, in a few days I'll try to move client part to meteor app and show the result

[2015-08-24 09:58] ipselon commented on #32
@kefirchik good!

[2015-08-25 17:45] kefirchik commented on #32
also meteor plays nice with electron via [electron-meteor](https://github.com/sircharleswatson/Electrometeor) :wink: (I guess there was an issue for this)

[2015-09-07 18:12] NeiPCs opened #39 "Error during register"
I got the follow error during register:
Internal Server Error: error
on
http://localhost:2222/builder/ > login > register > filling form

PS: React UI Builder0.3.0

[2015-09-07 18:15] ipselon commented on #39
Could you provide here your login ? I will check.

[2015-09-08 17:34] ipselon commented on #39
What version of node.js you are using ?

[2015-09-09 07:50] #39 closed

[2015-09-16 07:12] #16 closed

[2015-09-16 07:13] ipselon commented on #31
please try new versions from 0.3.x

[2015-09-16 07:13] #31 closed

[2015-09-16 07:18] ipselon commented on #15
Hi,

In new version on the builder I implemented pluggable source code generators. You can find the source code and configuration files of generators in project folder:

       PROJECT_DIR/.builder/generators

Each folder inside includes files for different generators. List of generators you can see during component source code generation.

[2015-09-16 07:24] ipselon commented on #23
Hi,

there is a variant of creating Page componenst in new version of the builder. Just generate static content from pages you created (main menu option). Then you can find generated source code of Pages in the folder you specified for static content.

[2015-09-16 10:42] Immortalin opened #40 "Bootstrap Builder"
Hi, is there any plans to open source the bootstrap builder?

[2015-09-16 10:52] ipselon commented on #40
Unfortunately, this tool is not supported any more, and in order to prepare it for open source I have to spend a significant amount of time. Now I'm really busy with React UI Builder and finding funds to support it.

[2015-09-16 10:53] Immortalin commented on #40
Isn't it a mostly client side tool, can't you just release the source code or do a kickstarter etc.?

[2015-09-16 11:00] ipselon commented on #40
I can't do a kickstarter for any project, because I'm a resident of Ukraine. To ask someone to do that instead of me will take a lot of time.

Source code of Bootstrap Builder is tightly integrated with server Java code, and to open it I need make preparations: database schema, deployment scripts, etc. This is time consuming anyway.

[2015-09-16 11:08] Immortalin commented on #40
I see.

[2015-09-16 11:12] ipselon commented on #40
Why do you need Bootstrap Builder ? React UI Builder is created with the same idea and even has more sophisticated user interface, has more features and even has components - like Material UI.
React builder can create static site as well as Bootstrap builder, even better because of ReactJS components dynamic.

[2015-09-16 11:15] Immortalin commented on #40
I am not doing any react-based development. My main reason for using bootstrap builder is because I prefer GUI builders over writing code as I find writing front-end code to be too tedious.

[2015-09-16 11:16] ipselon commented on #40
I see, sorry for that. But at first I need to raise some money.

[2015-09-16 11:18] Immortalin commented on #40
@ipselon no problem. Thanks for all the effort that you have put into this anyway. I will support your patreon once I am able to.

[2015-09-16 11:24] ipselon commented on #40
Many thanks. We will develop amazing product, stay in touch. And think of ReactJS - it's worth to use it for Web UI.

[2015-09-16 11:30] Immortalin commented on #40
Hi, I am getting this error while installing:

[code]

[2015-09-16 11:39] ipselon commented on #40
I think this is issue with npm and node. Did you try to install something else from npm in global scope ?

[2015-09-16 11:41] Immortalin commented on #40
Yup, installing jshint worked perfectly

[2015-09-16 11:45] ipselon commented on #40
I'm not Linux user and not sure about it's guts, but I think that following looks bad:
[code]

[2015-09-16 11:48] ipselon commented on #40
have you install react-ui-builder before ?

[2015-09-16 11:49] ipselon commented on #40
try to uninstall with -g option
and install it again

[2015-09-16 15:27] loremipsum31 opened #41 "Sometimes "`Col` InternalError: too much recursion" on every components inside current working layout"
Hi,
Sometimes working on the layout, all components are returning this message :
"`Col` InternalError: too much recursion"
Nothing serious happen on the current work, switching to preview and come back to editor mode solve the problem.

cu!

[2015-09-16 15:31] ipselon commented on #41
If you encounter the problem again, please send to support@helmetrex.com file which you can find in path: PROJ_DIR/.builder/build/model.json

[2015-09-16 15:34] #40 closed

[2015-09-16 15:43] loremipsum31 commented on #41
File is sent

[2015-09-16 16:10] ipselon commented on #41
Played with your Col components on the first page - nothing happened, it works as expected.
Could you describe steps you were doing on the page ?

[2015-09-17 07:11] loremipsum31 commented on #41
It's completely random, it come on every 5 or 6 manipulation time. It come when i move row, or when I duplicate cols, or while i'm adding classic html element.

[2015-09-17 07:13] ipselon commented on #41
What browser you are using ?

[2015-09-17 07:14] loremipsum31 commented on #41
FF 40.0.3 on ubuntu

[2015-09-17 07:15] ipselon commented on #41
Did you create/generate any new components ?

[2015-09-17 07:15] loremipsum31 commented on #41
nop

[2015-09-17 07:18] ipselon commented on #41
OK, and do you have library react or react-bootstrap installed in global scope ?

[2015-09-17 07:19] loremipsum31 commented on #41
Normally year. Did we have a npm command to check it ?

[2015-09-17 07:21] loremipsum31 commented on #41
react and react-bootstrap are not installed in global, but react-builder is in global

[2015-09-17 07:26] ipselon commented on #41
could you look at what version of react-bootstrap lib was installed into project folder ? just go to node_modules/react-bootstrap/ and open package.json

[2015-09-17 07:27] loremipsum31 commented on #41
0.24.5

[2015-09-17 07:41] ipselon commented on #41
Well, I use the same browser, versions, and builder, and I have used the builder in two projects: and never encountered such problem.
This error indicates that Col component has Col component inside of itself. Like this:
[code]

But it couldn't be when you compose components with each other through children props.

[code]

So, that's why I ask you about if you generate new component.

OK, I will u

[2015-09-17 07:51] loremipsum31 commented on #41
I've check the source of the project page, and i see some :

[code]

I've delete the empty cols to see what happen.

[2015-09-17 08:10] ipselon commented on #41
I don't think this is the problem, this is just an empty Col element.

[2015-09-18 08:09] thebigredgeek opened #42 "Atom plugin?"
It would be amazing if we could use a plugin like this as a buffer pane in Atom.  Programmers could drag-n-drop their own components into the builder, for an xcode-esque workflow.  It would change the way web apps are developed IMHO.  We could also connect various events to code segments, in the same way x-code supports drag-n-drop event binding between the UI and view controllers.  Thoughts?

tld

[2015-09-18 11:06] kefirchik commented on #32
It was a bad idea :smile: now I am trying to configure it to play nice with meteor

[2015-09-18 21:13] ipselon commented on #42
I am not familiar with Atom, so, the first question is what is buffer pane? And the second - does atom run as web server and have kind of iframe to render html in order to show components ?

[2015-09-21 07:13] mcanthony commented on #42
I would wait on this idea and focus on the core software (anyless the OP/anyone wants to upstream some work), integration with Atom would be time consuming if it where done right. The builder is pretty high-level, if anything deserving it's own CEF based desktop build down the line (perhaps builds could be sold to support the project, targeting professionals/businesses).

@ipselon Atom is a CEF (C

[2015-09-21 07:13] mcanthony commented on #42
Correction, rather Atom-Shell is now called Electron. Like Node-Webkit is now called NW.JS.

[2015-09-21 07:22] mcanthony commented on #10
@subsumo I wouldn't say that React is miles ahead of Angular, in fact they could and should be used somewhat together.

@datapimp Electron is CEF (vanilla), NW.JS is CEF(unified context, custom build), Visual Studio Code is CEF.

Visual Studio Code was incorrectly reported to be Electron based because an earlier, internal prototype used Electron and the meta-data somehow carried over into the new

[2015-09-30 05:54] thebigredgeek commented on #42
@mcanthony nuclide is actually built on Atom FWIW.  Most react developers use either Atom, Sublime, VIM, or Emacs, with the first two having the largest amount of market share.  I would bet that Nuclide will start gaining market traction as well.  I think having a single tool, similar to xcode, makes a lot of sense personally.  Can you explain why you'd want to make this stand alone?  Is it becaus

[2015-09-30 06:38] ipselon commented on #42
@thebigredgeek I'm totally not against standalone plugin for any editor (even WebStorm), otherwise I wouldn't ship it in open source.
Now I'm busy with builder for redux, sorry. But if some one release this as plugin to Atom, it would be great...

[2015-10-05 04:54] debbas opened #43 "description: 'Unexpected token -"
Hi I'm getting unexpected token when I add style

Error
{ [Error: Line 60: Unexpected token -]
  index: 1560,
  lineNumber: 60,
  column: 134,
  description: 'Unexpected token -' }

File index.js https://gist.github.com/debbas/5f2332ca1795913319fd

Please let me know what is wrong.

[2015-10-05 06:55] ipselon commented on #43
Change background-color to backgroundColor

[2015-10-05 07:42] #43 closed

[2015-10-05 07:44] ipselon commented on #43
@debbas Could you please republish your project on the gallery, it seems has some errors.

[2015-10-05 08:29] debbas commented on #43
@ipselon  Done :)

[2015-10-05 08:44] ipselon commented on #43
@debbas Thanks !

[2015-10-05 16:12] debbas commented on #43
@ipselon

Here is my suggestion after using it for couple of hours. First of all its awesome, I been thinking on implementing something to host all UI components that people can reuse for rapid development.

You should have a new screen for Developers who want to create new components by writing code.
Plus if you want a complete component you should be able to add style, JS for the functionality.

[2015-10-05 17:11] ipselon commented on #43
Thanks.

First of all the builder was created for developers to help them to do fast prototyping of UI. Of cause, there are features which help to combine and reuse components, event to generate the source code for new component, but in terms of development process this is not enough for creating really enhanced components. As you mentioned, developer has to have a field where he can develop the s

[2015-10-06 12:33] ipselon commented on #10
@datapimp @Xelom sorry for late response, I wasn't familiar with Electron so far and didn't know what to say...

But now I'm working on new version of the builder: redux-builder which uses Redux, React-Router, webpack-hot-middleware, Redux DevTools, and allows to use and generate not only separated React components, but whole web app...

In parallel I think about how to use builder as CMS admin or

[2015-10-06 12:54] ipselon commented on #42
@thebigredgeek Hi, I thought a lot about Atom and package with React UI builder, and I still do not understand how it can be used by developer. Could you describe the flow of development process in Atom with embedded builder ?

[2015-10-19 07:02] datapimp commented on #10
@ipselon i'm happy to walk you through a project i'm doing and i can show you

[2015-10-29 15:09] bb78657 commented on #24
I installed react today on Linux:
sudo npm install react-ui-builder -g
I then ran sudo react-ui-builder
and receive the same "Internal Server Error: error" on http://localhost:2222/builder/

[2015-10-29 15:37] ipselon commented on #24
@bb78657 please use Structor (https://github.com/ipselon/structor) instead of react-ui-builder

[2015-10-30 15:06] bb78657 commented on #24
Thanks for the quick response.
I installed structor and started but got the following on pointing my browser to http://localhost:2222/structor/  :

Structor started successfully.
Please go to http://localhost:2222/structor
ReferenceError: Promise is not defined
    at e._createClass.value (/usr/local/lib/node_modules/structor/server/FileManager.js:1:4416)
    at e._createClass.value (/usr/local/li

[2015-10-30 15:14] ipselon commented on #24
For Structor issues please use its repo.
As for this issue, please upgrade your node.js

[2015-11-09 18:34] thebigredgeek commented on #42
@ipselon have you used XCode for developing iOS apps?  You can drag and drop components to build UI along side your code.  I would imagine it like that.  You have a pane in Atom to drag and drop UI together from components you've built and/or installed.

[2015-11-09 19:23] ipselon commented on #42
@thebigredgeek would you like to ask about the idea of Atom plugin on reactiflux #general channel here https://discord.gg/0ZcbPKXt5bYniV2v ? There is our #structor channel too, but I think this idea should be discussed in #general first.

[2015-11-17 20:15] tnrich opened #45 "404 when trying to browse projects:"
"Got error code 404 processing request to http://helmetrex.com/rbs//getProjectGalleryList"

Not sure how to fix this.

[2015-11-17 20:23] ipselon commented on #45
This project is deprecated. Please install Structor instead https://github.com/ipselon/structor. Sorry for inconvenience. Soon I'll remove this repo in order to avoid misunderstanding.

[2015-12-05 14:29] #45 closed